<!DOCTYPE html>
<html lang="en">

<head>
<title>Video Manager</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'styles/index.css' %}">
<!--
<link rel="stylesheet" href="css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="styles/default-styles.css">
<link rel="stylesheet" type="text/css" href="styles/home.css">
<link rel="stylesheet" type="text/css" href="styles/footer-default.css">
-->
</head>

<body>
    <nav class="navbar sticky-top navbar-light bg-light">
      <div class="container-fluid">
        <div class=" navbar-header navbar-default">
          <div class="mycontainer">
            <a href="/"><img src="{% static 'images/backbutton.png' %}"/></a>
            &nbsp;Back
          </div>
        </div>
      </div>           
    </nav>
    <div class="container toplevelContainer">
        <div class="row">
            <div class="col"></div>
            <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                <div class="mainContainer">
                    <div class="row innerBorder">
                        <div class="menuTitleRow"><h5><strong>Music</strong><h5></div>
                        <a class="btn btn-outline-dark" href="{% url 'media:musiclib' %}" role="button" id="mainB">Music Library</a>
                        <a class="btn btn-outline-dark" href="{% url 'media:playlist' %}" role="button" id="mainB">Playlists</a>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>

</html>
