<!DOCTYPE html>
<html lang="en">

<head>
<title>Music Library</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'styles/linphoneapp.css' %}">
<!--
<link rel="stylesheet" href="css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="styles/default-styles.css">
<link rel="stylesheet" type="text/css" href="styles/home.css">
<link rel="stylesheet" type="text/css" href="styles/footer-default.css">
-->
</head>

<body>

    <nav class="navbar sticky-top navbar-light bg-light">
      <div class="container-fluid">
        <div class=" navbar-header navbar-default">
          <div class="mycontainer">
            <a href="{% url 'media:index' %}"><img src="{% static 'images/backbutton.png' %}"/></a>
            &nbsp;Back
          </div>
        </div>
      </div>           
    </nav>
    
    <div class="container toplevelContainer">
        <div class="row">
            <div class="col"></div>
            <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                <div class="mainTitle"><h5><strong>Add Music to Library</strong><h5></div>
                <form role="form" enctype="multipart/form-data" method="POST" id="music-file-upload">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="inputName">Music Name</label>
                        <input type="text" name="id_audio_name" class="form-control" id="inputName" aria-describedby="nameHelp" maxlength="100" placeholder="Enter music name" required>
                        <small id="nameHelp" class="form-text text-muted">This will be the keyword name whenever you want to play this music.</small>
                    </div>
                    <div class="form-group">
                        <label for="musicFormControlFile">Music File (.mp3, .wav)</label>
                        <input type="file" class="form-control-file" id="id_file" name="file" required>
                      </div>
                    <div class="errormsg" id="id-add-music-error">{% if error_message %}{{ error_message }}{% endif %}</div>
                    <button type="submit" class="btn btn-primary" id="addB" name="newMusicSubmit">Add Music</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="container tableContainer">
        <div class="row">
            <div class="col"></div>
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <table class="table table-sm table-hover table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Options</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if audio_list %}
                        {% for audio in audio_list %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>{{ audio.name }}</td>
                          <td>
                            <a data-toggle="modal" data-target="#deleteAudioModal" data-backdrop="static" data-keyboard="false" href="#" data-id="{{ audio.id }}" data-name="{{ audio.name }}">Delete</a>
                          </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    You audio list is empty.
                    {% endif %}
                  </tbody>
                </table>
            </div>
            <div class="col"></div>
        </div>
    </div>
    
    <!-- Delete Linphone Account Modal -->
    <div class="modal fade" id="deleteAudioModal" tabindex="-1" role="dialog" aria-labelledby="deleteAudioModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteAudioModalLabel">Delete Music Audio</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modal-body-div"></div>
            <form action="{% url 'media:musiclib' %}" method="post">
                {% csrf_token %}
                <input type="hidden" class="form-control" id="delete-id" name="deleteaudio">
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    <button type="submit" name="deleteAudioSubmit" class="btn btn-success">Yes</button>
                </div>
            </form>
        </div>
      </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap-uploadprogress.js' %}"></script>
    <script>
        function proceedUpload() {
            $("#music-file-upload").uploadprogress({
                redirect_url: "{% url 'media:musiclib' %}"
            });
        }
    
        $('#addB').click(function() {
            var proceedUploadTrigg = false;
            var audiosize = {{ audio_list|length }};
            {% for audio in audio_list %}
                if ($('#inputName').val().toLowerCase() == "{{ audio.name }}".toLowerCase()) {
                    return;
                }
                else proceedUploadTrigg = true;
            {% endfor %}
            if (proceedUploadTrigg) proceedUpload();
            else if (audiosize > 0) $('#id-add-music-error').html("Name already in the list");
        });
    
        $('#deleteAudioModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var name = button.data('name');
            $('#delete-id').val(id);
            $('#modal-body-div').html("Audio \"" + name + "\" will be deleted from your music library. Continue?");
        })
    </script>
</body>

</html>
